@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Sans:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  background-color: beige;
  box-sizing: border-box;
  font-family: "Momo Trust Sans", sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

#read-field div:first-child {
  margin-right: 40px;
}

button {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
